/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

.container {
  max-width: 950px;
}

.smallValido {
  color: green;
  font-weight: bold;
}

.smallInvalido {
  color: red;
  font-weight: bold;
}

.campoValido {
  background-color: green;
}

.campoInvalido {
  background-color: red;
}
